.navBar{
  position: fixed;
  top:0;
  width:100%;
  height:76px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.084);
}

.collnav{
  background-color: rgb(255, 255, 255);
}

.searchBox{
  display: flex;
  align-items: center;
}

.searchBoxlength{
  width: 100%;
}

.searchInput,.searchButton{
  font-size: 16px;
  padding: 14px;
  outline: none;
  width: 100%;
  border: 0px solid rgba(0, 0, 0, 0.677);
  border-radius: 4px 0 0 4px;
  background-color: rgba(172, 177, 180, 0.342);
  color:rgba(0, 0, 0, 0.697)
}
.searchButton{
  width:auto;
  padding:14px 16px;
  border-radius: 0 4px 4px 0;
  background-color: black;
  color:white;
}

.useicons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.usericon{
  padding-left: 30px;
  padding-right: 30px;
}

.carticon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.usericonof{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.usericonbutton:hover{
  color: black;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
}

.usericonbutton{
  border-color: black;
  border-width: 2px;
  border-style: solid;
}

@media (min-width: 990px) {
  .searchInput{
      width: 800px;
  }

  .searchBoxlength{
      margin-left: 60px;
  }

  .carticon{
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .usericonof{
    padding-left: 50px;
  }

}